<div class="flex-bar" *ngIf="repo">
  <button md-icon-button (click)="goto_repo()" >
    <md-icon class="vendor-icon" fontSet="fa" fontIcon="{{link_icon}}" ></md-icon>
  </button>

  <h2 class="normal">
    {{repo.full_name}}
  </h2>

  <div class="flex-expander"></div>

  <app-search-select
    style="margin-right: 14px"
    [choices]="names_of_other_repos"
    placeholder="Copy plugin settings"
    hint="Not a valid repository"
    (selected)="copy_from($event)">
  </app-search-select>

  <md-select class="user" *ngIf="repo && repo.admins.length > 1"
    style="margin-right: 14px; margin-bottom:1px;"
    placeholder="User for commenting"
    (change)="set_active_user()"
    [(ngModel)]="repo.user"
    [disabled]="toggle_user">
    <md-option *ngFor="let admin of repo.admins" [value]="admin">
      {{admin}}
    </md-option>
  </md-select>

  <md-spinner *ngIf="spin" style="width:40px;height:40px;"></md-spinner>
  <div *ngIf="!spin" style="width:40px;"></div>
  <md-slide-toggle disabled="{{spin}}" [checked]="repo.active" (change)="toggle_repo()" style="margin-left:14px;margin-top:12px;"></md-slide-toggle>

</div>

<div *ngIf="repo && user">
  <p *ngIf="repo.user === user.username"> Attention: GitMate will perform actions in this repository using your account!</p>
  <p *ngIf="repo.user !== user.username"> GitMate will perform actions in this repository using the account of {{repo.user}}.</p>
  <p> To use a dedicated user account for GitMate:</p>
    <ul>
      <li>Create a new user account on GitHub or GitLab</li>
      <li>Give this user owner privileges to your repository</li>
      <li>Enable GitMate for this user</li>
      <li>Choose the target user in the top right corner of this page</li>
    </ul>

</div>

<md-tab-group *ngIf="plugins">
  <md-tab *ngFor="let section of [[['issue'], 'Issue Management'], [['pull_request', 'analysis'], 'Review']]" label="{{section[1]}}">
    <div *ngFor="let plugin of plugins">
      <div *ngIf="section[0].indexOf(plugin.plugin_category) >= 0 && plugin.name === 'similar_ee'">

        <md-card>
          <md-card-title>
            <label>
              {{plugin.settings[4].description}}
              <md-slide-toggle
                [(ngModel)]="plugin.settings[4].value"
                (change)="setting_change_maybe_toggle_plugin(plugin, plugin.settings[4].name, plugin.settings[4].value)"
                style="float:right;padding-top:10px">
              </md-slide-toggle>
            </label>
          </md-card-title>
          <md-card-subtitle>
            Mention similar issues in a comment of a new issue.
          </md-card-subtitle>
        </md-card>

        <md-card>
          <md-card-title>
            <label>
              {{plugin.settings[0].description}}
              <md-slide-toggle
                [(ngModel)]="plugin.settings[0].value"
                (change)="setting_change_maybe_toggle_plugin(plugin, plugin.settings[0].name, plugin.settings[0].value)"
                style="float:right;padding-top:10px">
              </md-slide-toggle>
            </label>
          </md-card-title>
          <md-card-subtitle>
            Automatically set appropriate labels on new issues.
          </md-card-subtitle>
          <md-input-container *ngIf="plugin.settings[0].value">
            <input mdInput placeholder="{{plugin.settings[1].description}}" [(ngModel)]="plugin.settings[1].value" (change)="setting_change_maybe_toggle_plugin(plugin, plugin.settings[1].name, plugin.settings[1].value)">
          </md-input-container>
        </md-card>

        <md-card>
          <md-card-title>
            <label>
              {{plugin.settings[2].description}}
              <md-slide-toggle
                [(ngModel)]="plugin.settings[2].value"
                (change)="setting_change_maybe_toggle_plugin(plugin, plugin.settings[2].name, plugin.settings[2].value)"
                style="float:right;padding-top:10px">
              </md-slide-toggle>
            </label>
          </md-card-title>
          <md-card-subtitle>
            Mention related contributors in a comment of a new issue.
          </md-card-subtitle>
          <md-input-container *ngIf="plugin.settings[2].value">
            <input mdInput placeholder="{{plugin.settings[3].description}}" [(ngModel)]="plugin.settings[3].value" (change)="setting_change_maybe_toggle_plugin(plugin, plugin.settings[3].name, plugin.settings[3].value)">
          </md-input-container>
        </md-card>

      </div>
    </div>

    <div *ngFor="let plugin of plugins">
      <md-card *ngIf="section[0].indexOf(plugin.plugin_category) >= 0 && plugin.name !== 'similar_ee'">
        <md-card-title>
          <label>
            {{plugin.title}}
            <md-slide-toggle [checked]="plugin.active" (change)="toggle(plugin)" style="float:right;padding-top:10px"></md-slide-toggle>
          </label>
        </md-card-title>
        <md-card-subtitle>
          <div [innerHTML]="plugin.description"></div>
        </md-card-subtitle>
        <div *ngIf="plugin.active && plugin.settings.length">
          <div *ngFor="let setting of plugin.settings">
            <!-- CharField -->
            <md-input-container *ngIf="setting.type=='CharField'">
              <input mdInput placeholder="{{setting.description}}" [(ngModel)]="setting.value" (change)="setting_change(plugin.name, setting.name, setting.value)">
            </md-input-container>
            <!-- TextField -->
            <md-input-container *ngIf="setting.type=='TextField'">
              <textarea mdInput placeholder="{{setting.description}}" [(ngModel)]="setting.value" (change)="setting_change(plugin.name, setting.name, setting.value)" ></textarea>
            </md-input-container>
            <!-- BooleanField -->
            <label *ngIf="setting.type=='BooleanField'">{{setting.description}}
              <md-slide-toggle [(ngModel)]="setting.value" (change)="setting_change(plugin.name, setting.name, setting.value)" style="float:right;padding-top:2px"></md-slide-toggle>
            </label>
            <!-- IntegerField -->
            <md-input-container *ngIf="setting.type=='IntegerField'">
              <input mdInput placeholder="{{setting.description}}" [(ngModel)]="setting.value" (change)="setting_change(plugin.name, setting.name, setting.value)">
              <md-hint *ngIf="!is_integer(setting.value)">
                Please enter a number
              </md-hint>
            </md-input-container>
            <!-- JSONField -->
            <div *ngIf="repo">
              <dict-setting *ngIf="setting.type=='JSONField'"
                [description]="setting.description"
                [backend_dict]="setting.value"
                [plugin_name]="plugin.name"
                [repoid]="repo.id"
                [setting_name]="setting.name"
                key_desc="label"
                value_desc="keywords">
              </dict-setting>
            </div>
            <!-- REAPERField -->
            <div *ngIf="repo">
              <dict-setting *ngIf="setting.type=='REAPERField'"
                [description]="setting.description"
                [backend_dict]="setting.value"
                [plugin_name]="plugin.name"
                [repoid]="repo.id"
                [setting_name]="setting.name"
                key_desc="label"
                value_desc="time in days">
              </dict-setting>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </md-tab>
</md-tab-group>

<spinner *ngIf="plugins==null"></spinner>
